
body{
    font-family: Roboto Slab, sans-serif;
}

table{
    margin: 0 auto;
    font-size: 70px;
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 5px solid black;
}

table td{
    width: 150px;
    height: 150px;
    text-align: center;
}

button{
   width: 150px;
   height: 50px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: Roboto Slab, sans-serif;
    font-size: 30px;
    width: 100%;
}

.btn{
    margin: 0 55px;
    font-family: Roboto Slab, sans-serif;
}

#text{
    display: none;
}
#gear{
    display: none;
}





